html,body{
    max-width: 100%;
    overflow-x: hidden;
    background-color: #fbfbfd;
    color: #1d1d1f;
}

.main-container {
    width: 100vw;
    color: #1d1d1f;
}
.img-box {
    margin: 10px;
}

.img1 {
    height: 500px;
}

.img2 {
    height: 250px;
    width: 280px;
}

.img3 {
    height: 250px;
    width: 280px;
}

.img-paading {
    padding: 8px;
}

.img4 {
    height: 280px;
    width: 500px;
}

.img5 {
    height: 220px;
    width: 250px;
}
@media (min-width:600px)
{
    .image-size {
        height: 210px;
    }
    .back-headding {
        font-size: 18px;
    }
    .main-hedding {
        font-size: 32px;
    }
}
@media (max-width:600px )
{
    .image-size {
        height: 110px;
    }
    .back-headding {
        font-size: 14px;
    }
    .main-hedding {
        font-size: 18px;
    }
    .hide-text {
        display: none;
    }
    /* images */
    .img1 {
        height: 250px;
    }
    
    .img2 {
        height: 125px;
        width: 140px;
    }
    
    .img3 {
        height: 125px;
        width: 140px;
    }
    
    .img-paading {
        padding: 8px;
    }
    
    .img4 {
        height: 100px;
        width: 120px;
    }
    
    .img5 {
        height: 150px;
        width: 120px;
    }
    .shadow {
        height: 200px;
    }
}

.shadow{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
a {
    text-decoration: none !important;
}
a:hover {
    color: #1d1d1f;
}